
<head>
    <title>Post </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
      body{
        background: #83a4d4; 
        background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4); 
        background: linear-gradient(to right, #b6fbff, #83a4d4); 
        background-color:  #66aec9; 
      }
      #stuff
      {   
          text-align:center;
          font-size:17px;
      }
  </style>
</head>
<body>
    <h1><center>Post an article from your favorite news channel</center></h1>
    <br>
    <br>
{%block content%}

<div class="bg"form  class="form-group" method="POST" id="stuff">
        <form method="POST">
        <ul class="contactList">
            <label>Title:</label><div  >{%csrf_token%}{{ form.title }}</div>
            <br>
            <label>Image URL:</label><div >{%csrf_token%}{{ form.image_url }}</div>
            <br>
            <label>Blog URL:</label><div >{%csrf_token%}{{ form.blog_url }}</div>
            <br>
            <button type="submit" class="btn btn-default">Post</button>
        </ul>
        
        
    </form>
</div>

{%endblock%}
</body> 
